/*
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
*//* reset */

ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{ vertical-align:baseline;}/* vertical align baseline */
.vertical-top{  vertical-align:top;}/* vertical align top */
.underline{ padding-bottom:5px; border-bottom: 1px solid #eee; margin:0 0 20px 0;}/* Add 5px bottom padding and a underline */
nav.vertical ul li{ display:block;}/* vertical menu */
nav.horizontal ul li{   display: inline-block;}/* horizontal menu */
img{max-width:100%;width:  100%;}
/*end reset*/

@font-face{
font-family: "Abel-Regular";
src:url(../fonts/Abel-Regular.ttf);
}

@font-face{
font-family: "BlackOpsOne-Regular";
src:url(../fonts/BlackOpsOne-Regular.ttf);
}


body{
width:100%;
text-align:center;
font-family: "Abel-Regular";
}

.navbar-default {
background-color: #0C0808;
border: none;
}
.choosed{height: 176px !important;}
.chose-about{
    height: 60vh !important;
    padding: 2px !important;
}
.navbar-inverse .navbar-nav>li>a {
color: #fff;
font-size:18px;
padding-top: 22px;
text-decoration: none;
}

.navbar-inverse .navbar-nav>li>a:hover {
color:yellow;
}
.fc-dark {
    font-family: "BlackOpsOne-Regular";
}
.banner{
background:url("../images/bg.jpg" ) 0px 0px no-repeat;
width:100%;
height:100vh;
background-size:cover;
}

.banner-content{
width:570px;
padding-top:200px;
text-align:left;
color:#fff;
}

.banner-content h1{font-family: "BlackOpsOne-Regular";font-size: 55px;}

.banner-content h2{
font-family: "Abel-Regular";
font-size:32px;
}

.banner-content p{
font-family: "Abel-Regular";
font-size:20px;
padding-top:15px;
line-height:30px;
}

/* ----------Header Ends Here ---------- */

/* ----------About---------- */

.about{
        padding:110px 0;
        font-family: "Abel-Regular";
        background-position:  center !important;
        background-size: cover !important;
        height: 100vh;
        position: relative;
        top: -1px;
        }

.about h3{
          padding:25px 0;
          font-size: 51px;
          font-family: "BlackOpsOne-Regular";
          font-weight:800;
          color: #fff;
          }

.about span{
color:red;
}

.about h4{
padding:0px 125px;
font-size:20px;
line-height:30px;
}

.about p{
padding:0px 125px;
font-size:20px;
line-height:28px;
}

.about-image{padding-top:35px;}

.about-image h5{font-size:22px;
                padding:15px 0 0 0;
                font-weight:600;
                text-transform: capitalize;
                color: #fff;}

.about-image p{
padding:15px 20px 0 20px;
font-size:18px;
line-height:28px;
}
.hover:hover{box-shadow: 0 0 5px 2px rgba(255, 255, 255, 0.4);}
.shadow{position: relative;
        background-position:  center !important;
        height: 250px;
        background-size: cover !important;
        cursor: pointer;
        }


/* ---------- About Ends here ---------- */

/* ---------- Requirements Starts ---------- */
.requirement{background:url("../images/require.jpg" ) 0px 0px no-repeat;width:100%;background-size:cover;font-family: "Abel-Regular";height: calc(100vh - 57px);}


.heading{margin:0 auto;color:#fff;}

.heading h3{font-size:38px;font-family: "BlackOpsOne-Regular";font-weight:800;color: #ff0000;margin:  0px;line-height: 107px;}

.heading span{color:#cfd5f7;font-family: "Abel-Regular";}

.grid{background:rgba(41, 40, 40, 0.7);height: 60vh;padding: 38px 0;box-sizing: content-box;}

.grid i {
display: inline-block;
width: 64px;
height: 64px;
background: url("../images/icons.png") no-repeat 0px 0px;
padding-bottom: 75px;
text-decoration: none;
}

.grid i.pc {
    background-position: 0px 0px;
}
.grid i.xbox {
    background-position: -64px 0px;
}
.grid i.ps {
    background-position: -128px 0px;
}

.grid p{
color:#fff;
padding:5px 25px;
text-align:left;
font-size:20px;
}

.grid h5{
color:#fff;
font-size:22px;
text-align:left;
padding:5px 25px;
font-weight:600;
}

.grid-bottom{
padding-top:30px;
}

.grid span{
font-size:16px;
color:rgba(239, 239, 243, 0.83);
}
/* ---------- Requirements Ends here ---------- */

/* ---------- UP Coming Games Starts Here ---------- */
.background {
padding:15px 5px 15px 15px;
background:#212020;
}

.padding-upcoming{
padding:130px 0;
font-family: "Abel-Regular";
}   

.padding-upcoming h3{
padding:25px 0;
font-size:38px;
font-family: "Abel-Regular";
font-weight:800;
}

.padding-upcoming span{
color:red;
}
                
.trailer iframe {
width: 100%;
height: 387px;
}
.trailer {
padding-left: 0;
}

.sub-img {
width:34%;
float: left;
}

.sub-img img{
width:82%;
}

.sub-text {
padding-top:15px;
float:right;
width:60%;
margin:0px;
}

.sub-text h4 {
font-size:20px;
color: #5bb2fc;
line-height: 28px;
text-decoration:none;
display: block;
text-align:left;
}

.sub-text p {
font-size: 14px;
line-height: 20px;
color: #888;
margin-top: 8px;
}

.sub-trailer {
background: #212020;
}

.shadow1
{
position: relative;
}
.shadow1:before, .shadow1:after
{
z-index: -1;
position: absolute;
content: "";
bottom: 14px;
left: 10px;
width: 50%;
top: 80%;
max-width:300px;
background: #fff;
box-shadow: 0 15px 10px #000;
transform: rotate(-3deg);
}
.shadow1:after
{
transform: rotate(3deg);
right: 10px;
left: auto;
}
/* ---------- UP Coming Games Ends Here ---------- */

/* ---------- Our Team Starts Here ---------- */
.our-team{
background:#D6D3D3;
}

.team{
padding:125px 0;
font-family: "Abel-Regular";
}

.team h3{
padding:25px 0;
font-size:38px;
font-family: "Abel-Regular";
font-weight:800;
}

.team h4{
font-size:22px;
padding-top:6px;
font-weight:600;
}

.team p{
font-size:18px;
padding-top:3px;
}

.team-img img{
border-radius: 25px 25px 25px 25px;
-moz-border-radius: 25px 25px 25px 25px;
-webkit-border-radius: 25px 25px 25px 25px;
border:7px solid #dddbdb;
}

.team-bottom{
padding-top:40px;
}
/* ---------- Our Team Ends Here ---------- */

/* ----------  Contact Starts From Here ---------- */
.contact{
background:#1d1d1c;
}

.padding-contact{
padding:100px 0;
font-family: "Abel-Regular";
}

.padding-contact h3{
font-family: "BlackOpsOne-Regular";
font-size:24px;
padding-bottom:20px;
color:#5bb2fc;
letter-spacing: 3px;
text-align:left;
}

.padding-contact span{
color:yellow;
display:block;
padding-top:10px;
}

address{
font-size:16px;
color:#fff;
text-align:left;
line-height:24px;
}

.social{
padding-top:45px;
}

.social-icons h3{
text-align:center;
}

ul.social li {
    display: inline-block;
}
ul.social li a {
display: inline-block;
width: 50px;
height: 50px;
background: url("../images/img-sprite.png") no-repeat 0px 0px;
transition:0.5s all;
-webkit-transition:0.5s all;
-moz-transition:0.5s all;
-o-transition:0.5s all;
-ms-transition:0.5s all;
text-decoration: none;
}

ul.social li a.facebook {
    background-position: 0px 0px;
}
ul.social li a.facebook:hover {
    background-position: 0px -50px;
}
ul.social li a.twitter {
    background-position: -50px 0px;
}
ul.social li a.twitter:hover {
    background-position: -50px -50px;
}
ul.social li a.googleplus {
    background-position: -100px 0px;
}
ul.social li a.googleplus:hover {
    background-position: -100px -50px;
}
ul.social li a.instagram {
    background-position: -150px 0px;
}
ul.social li a.instagram:hover {
    background-position: -150px -50px;
}
ul.social li a.youtube {
    background-position: -200px 0px;
}
ul.social li a.youtube:hover {
    background-position: -200px -50px;
}

.newsletter h3{
text-align:right;
}

.newsletter input[type="text"]{
    outline: none;
    font-size:16px;
    color: #fff;
    font-family: "Abel-Regular";
    padding: 15px 10px;
    border:none;
    border-bottom:2px solid #fff;
    width: 67%;
    background:#1d1d1c;
}

.newsletter input[type="submit"] {
    background:rgba(2, 2, 2, 0.60);
    color: #fff;
    border: 2px solid #fff;
    font-size: 18px;
    font-family: "Abel-Regular";
    padding: 15px 10px 15px 15px;
    cursor: pointer;
    outline: none;
    display: inline-block;
    margin-top:24px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

.newsletter input[type="submit"]:hover{
    color:#000;
    background:#d8cc52;
    font-weight:600;
}

/* ---------- Contact Ends here ---------- */

.footer{
padding:0px 20px 50px 20px;
}

.footer p{
font-size:18px;
font-family: "Abel-Regular";
color:#fff;
}

.footer a{
text-decoration:none;
color:#5bb2fc;
}

.footer a:hover{
color:yellow;
}


/*---------- responsive media queries ----------*/

@media screen and (max-width:1920px){
.banner-content{
width:500px;
}
}

@media screen and (max-width:1680px){
.banner-content{

}
}

@media screen and (max-width:1440px){
.banner-content{
width:470px;

}
}

@media screen and (max-width:1366px){
.banner-content{
width:470px;
padding-top:150px;
}
.newsletter input[type="text"] {
width: 60%
}
}

@media screen and (max-width:1280px){
.banner-content{
padding-top:125px;
}
}


@media screen and (max-width:1080px){
.banner{
height:500px;
}
.banner-content h1 {
font-size: 56px;
}
.banner-content h2 {
font-size: 30px;
}
.banner-content p {
font-size: 19px;
}

.about {
padding:50px 0 70px;
}
   
.all-require {
padding: 100px 0;
}

.padding-upcoming {
padding: 75px 0;
}

.about h4 {
padding: 0px 100px;
}

.trailer-text{
padding-top:37px;
}

.sub-text {
width: 64%;
}
.sub-text p {
text-align:left;
}

form{
padding-top:10px;
}

.about-image p {
padding: 10px 0px 0;
}

}


@media screen and (max-width:991px){
.navbar-inverse .navbar-nav>li>a {
padding: 0px 10px;
padding-top: 22px;
}

.about h4 {
padding: 0px 40px;
}

.about-size{
width:33.3%;
float:left;
}

.about-image p {
font-size: 16px;
line-height: 24px;
}

.require-size{
width:33.3%;
float:left;
margin: 0px;
padding: 5px;
}

.grid p {
padding: 5px 20px;
}
.game-video {
width: 60%;
float: left;
}

.game-image{
width:40%;
float:left;
}

.trailer-text {
padding-top: 15px;
}

.sub-trailer {
   padding:10px 0;
}

.sub-img {
width: 38%;
}

.sub-img img {
width: 100%;
}

.sub-text {
padding-top: 5px;
width:60%;
}

.sub-text h4 {
font-size:19px;
line-height: 24px;
}

.sub-text p {
font-size: 14px;
line-height: 18px;
}
.team-size{
width:25%;
float:left;
}

.team h4 {
font-size: 20px;
}

.team p {
font-size: 16px;
}

.address{
width:25%;
float:left;
margin:0;
padding:0px;
}

.social-icons{
width:40%;
float:left;
margin:0;
padding:0px;
}
ul.social li a {
width: 40px;
height: 40px;
background-size: 250px;
}
ul.social li a.facebook {
background-position: 0px 0px;
}
ul.social li a.facebook:hover {
    background-position: 0px -40px;
}
ul.social li a.twitter {
    background-position: -40px 0px;
}
ul.social li a.twitter:hover {
    background-position: -40px -40px;
}
ul.social li a.googleplus {
    background-position: -83px 0px;
}
ul.social li a.googleplus:hover {
    background-position: -83px -40px;
}
ul.social li a.instagram {
    background-position: -126px 0px;
}
ul.social li a.instagram:hover {
    background-position: -126px -40px;
}
ul.social li a.youtube {
    background-position: -167px 0px;
}
ul.social li a.youtube:hover {
    background-position: -167px -40px;
}

.newsletter{
width:35%;
float:left;
margin:0;
padding:0px;
}
.newsletter input[type="text"] {
padding:10px;
}

.newsletter input[type="submit"] {
font-size: 16px;
padding: 10px;
}
}


@media screen and (max-width:800px){
.navbar-brand>img {
width:90%;
}

}


@media screen and (max-width:768px){

.banner-content {
width: 380px;
padding-top: 125px;
}

.banner-content h1 {
font-size: 46px;
}
.banner-content h2 {
font-size: 26px;
}
.banner-content p {
font-size: 17px;
}

.about {
padding: 50px 0;
}
.about h3 {
font-size: 30px;
}
.about h4 {
font-size:17px;
line-height: 24px;
padding: 0px 10px;
}

.all-require {
padding:75px 0;
}
.heading h3 {
font-size: 30px;
}
.require-size {
padding: 2px;
}
.grid {
height: 485px;
}
.grid i {
width: 57px;
background-size: 175px;
}
.grid i.xbox {
background-position: -55px 0px;
}
grid i.ps {
background-position: -111px 0px;
}

.padding-upcoming h3 {
font-size: 34px;
}
.game-video {
width:100%;
}
.sub-trailer {
padding:0;
}
.sub-img {
width: 20%;
}
.sub-text {
padding-top: 40px;
width: 70%;
}
.sub-text h4 {
font-size: 24px;
}
.team {
padding: 75px 0;
}
.padding-contact h3 {
font-size: 22px;
}

}

@media screen and (max-width:736px){
.grid-bottom {
padding-top: 15px;
}
.padding-contact {
padding: 70px 0;
}
.footer p {
font-size: 16px;
}
}

@media screen and (max-width:667px){
.banner {
height: 400px;
}
.banner-content {
padding-top:75px;
}
.shadow:before, .shadow:after {
bottom: 18px;
}

.require-size {
padding: 10px;
width: 50%;
}
.grid:nth-child(3) {
height: 430px;
}
.require-size:nth-child(3) {
padding: 10px;
width: 50%;
margin-left:25%;
}
.grid i.xbox {
    background-position: -56px 0px;
}
.grid i.ps {
    background-position: -113px 0px;
}
.team h3 {
font-size: 32px;
}
.about-image p {
font-size: 14px;
line-height: 22px;
}
.padding-contact span {
font-size:15px;
}

}


@media screen and (max-width:640px){
.newsletter input[type="text"] {
width: 80%;
text-align: center;
}
.newsletter input[type="submit"] {
margin-top:5px;
}

}

@media screen and (max-width:600px){
.team h4 {
font-size: 18px;
}
.team p {
font-size: 14px;
}
.padding-contact span {
font-size: 13px;
}

}

@media screen and (max-width:480px){
.banner {
height: 350px;
}
.banner-content h1 {
font-size: 40px;
}
.banner-content h2 {
font-size: 22px;
}
.banner-content p {
font-size: 15px;
}
.about {
padding: 40px 0;
}

.about-size {
width:100%;
}

.about-size:nth-child(2) {
padding:40px 0px;
}
.about-image h5 {
padding-top:5px;
}
.about-image p {
padding-top:5px;
line-height: 20px;
}

.require-size {
width: 100%;
}

.grid{
height: 435px;
}

.grid p {
padding-left:50px;
}
.grid h5 {
padding-left:50px;
}
.require-size:nth-child(3) {
width: 100%;
margin-left:0%;
}
.sub-text {
padding-top: 10px;

}
.sub-text h4 {
font-size: 20px;
}

.team-size {
width: 50%;
float: left;
padding:10px 0;
}
.team-bottom {
padding-top: 0px;
}

.address {
width: 44%;
padding: 10px;
}
.social-icons {
width: 56%;
padding:10px;
}

.newsletter {
width: 80%;
float:none;
display: inline-block;
}

.newsletter input[type="text"] {
width: 60%;
}

}


@media screen and (max-width:414px){

.about {
padding: 25px 0;
}
.about h3 {
padding: 10px 0;
}
.about-image {
padding-top: 20px;
}

.all-require {
padding: 25px 0;
}

.heading {
padding-bottom: 20px;
}
.padding-upcoming {
padding: 25px 0;
}

.sub-text {
padding: 2px;
width: 74%;
}

.padding-contact h3{
text-align:center;
font-size:20px;
padding-bottom:10px;
}

.address {
width: 100%;
}
address {
font-size: 16px;
line-height: 20px;
text-align:center;
}

.social-icons {
width: 100%;
padding:30px 0;
}

.social {
padding: 0px;
}

form {
padding:0px;
}

}


@media screen and (max-width:384px){
.banner-content {
width: 280px;
}
.grid p {
padding-left: 40px;
}
.grid h5 {
padding-left: 40px;
}
}

@media screen and (max-width:320px){

.navbar-brand {
width: 80%;
}

.grid h5 {
padding-left: 32px;
font-size: 20px;
}

.grid p {
padding-left: 32px;
font-size:16px;
}

.newsletter {
width: 94%;
}

}





/*last nav bar*/
header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  background: #000;
  height: 57px;
}
.navbar {
  position: relative;
  height: 57px;
  transition: 0.5s ease;
  background: #000;
  flex-direction:  row-reverse;
  text-transform:  uppercase;
}

.navbar .nav {
  margin: 0;
  padding: 0;
  display: inline-block;
  float: right;
  margin-right: 5%;
  color: #fff;
}
.logo .img {
    width: 246px;
    height: 100%;
    background-position: center !important;
    background-size: 100% !important;
    background-repeat:  no-repeat !important;
    z-index:  1000;
}

.margin-center {
    margin-left: auto;
    margin-right: auto;
}
.navbar .nav .item {
  list-style: none;
  display: inline-block;
  font-weight: 300;
  line-height: 80px;
  margin-right: 20px;
  transition: 0.5s ease;
  color: #fff;
  font-size: 18px;
  text-decoration: none;
}

.navbar .nav .item .contact {
  display: inline-block;
  background-color: #ffffff;
  height: 40px;
  line-height: 30px;
  padding: 5px;
  border-radius: 2px;
  transition: 0.5s ease;
}

.navbar .nav .item a {
  text-decoration: none;
  color: inherit;
}

.navbar .logo {
  display: inline-block;
  margin-top: 5px;
  margin-left: 5%;
  width: 70px;
  height: 70px;
  background-color: firebrick;
  transition: 0.5s ease;
}

.navbar .logo img {
  display: none;
}
/**/
.start-game p {
    font-size: 50px;
    font-family: "BlackOpsOne-Regular";
    padding: 0;
}

.start-game {
    padding: 25px;
}


/*video player*/
#player {
    width: 100%;
    height: 100%;
    cursor: pointer;
}
#player, #controls {
    pointer-events: none;
}
#controls {
    position: relative;
    bottom: 62px;
    padding-top: 12px;
    padding-left: 15px;
    padding-right: 15px;
    width: calc(100% - 30px);
    height: 50px;
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.6));
}
#progressholder {
    height: 5px;
    border-radius: 4px;
    background: rgba(61, 61, 61, 0.7);
    margin-bottom: 11px;
    cursor: pointer;
}
#buffered {
    height: 5px;
    border-radius: 4px;
    background: rgba(160, 160, 160, 0.4);
    width: 0;
}
#progress {
    position: relative;
    bottom: 5px;
    height: 5px;
    border-radius: 4px;
    background: rgba(255, 0, 0, 0.7);
    width: 0;
}
#progressholder:hover #progressorb {
    display: block;
}
#progressorb {
    position: relative;
    bottom: 14px;
    width: 14px;
    height: 14px;
    border-radius: 10px;
    background: rgba(255, 0, 0, 0.7);
    display: none;
}
#playpause {
    font-size: 14pt;
    color: #fff;
    margin-left: 10px;
    cursor: pointer;
}
#playpause:hover {
    color: #d3d3d3;
}
#progresstime {
    position: relative;
    right: 45px;
    top: 3px;
    font-size: 10pt;
    color: #fff;
    font-weight: bold;
    float: right;
}
#fullscreen {
    position: fixed;
    right: 25px;
    bottom: 10px;
    color: #fff;
    font-size: 14pt;
    cursor: pointer;
}
/* login */
.game_logo {
    height: 121px;
    width: 136px;
    margin: 0 auto;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
}
.log-in {
    font-family: "BlackOpsOne-Regular";
    font-size: 22px;
    text-transform:  uppercase;
}
/* login ara da meore */

.wall-my {
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}

.reg-logo {
    width: 400px;
    height: 175px;
}

.he-i input {
    height: 59px;
}